.navbar-container {
  display: flex;
  align-items: center;
  height: 62px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 500;
}

@media(min-width: 576px){
  .navbar-container{
    font-size: 22px;
  }
}

@media(min-width: 768px){
  .navbar-container{
    font-size: 24px;
    padding-left: 40px;
  }
}
