.profile-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  background: #f5f5f5;
  border-radius: 10px;
  padding: 10px 10px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 5px;
  border-radius: 6px;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 10px 10px;
  min-width: 140px;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 6px;
  width: 100%;
  min-height: 26vh;
  font-size: 11px;
  padding: 5px 3px;
}

.info-container .title {
  border: unset;
  color: #1890FF;
  font-weight: 700;
  font-size: 1.3em;
  text-align: start;
  width: 90%;
  margin-top: 10px;
  margin-left: 0;
  line-height: 28px
}

.info-container span {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  color: #737373;
  font-size: 1em;
  width: 90%;
  margin: 5px;
  padding: 2px 10px;
  line-height: 24px;
}

.image-container img {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  width: 100%;
  min-width: 100px;
  max-width: 300px;
  height: auto;
}

@media (min-width: 425px) {
  .info-container {
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  .info-container {
    height: 100%;
    align-items: center;
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .profile-card-container {
    flex-direction: row;
    height: 35vh;
  }
  .content-container {
    flex-direction: row;
  }
  .image-container{
    width: 36%;
    min-width: 234px;
    max-width: 261px;
    height: auto;
  
  }
  .image-container img {
    min-height: 212px;
  }
  .info-container {
    font-size: 16px;
    max-height: 212px;
    padding: 10px 10px 20px 10px;
  }
}

@media (min-width: 992px) {
  .profile-card-container {
    height: 40vh;
  }
  .info-container {
    font-size: 20px;
    padding: 20px;padding: 20px 20px 30px 20px;
  }
}
